EVOLUTION_API_KEY=tmk_evolution_key_2024
EVOLUTION_INSTANCE=todomark
COMPOSE_PROJECT_NAME=todomark
VITE_API_URL=http://localhost:8081

USE_META_WHATSAPP=false
META_WHATSAPP_URL=https://graph.facebook.com/v16.0
META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_TEMPLATE=ticket_update
META_WHATSAPP_LANGUAGE=es

EMAIL_WEBHOOK_URL=
EMAIL_API_KEY=

GLPI_URL=
GLPI_APP_TOKEN=
GLPI_USER=
GLPI_PASSWORD=

REQUIRE_API_AUTH=false
API_BEARER_TOKEN=
HYDRA_INTROSPECTION_URL=
HYDRA_CLIENT_ID=
HYDRA_CLIENT_SECRET=
VITE_HYDRA_CLIENT_ID=
VITE_HYDRA_AUTH_URL=
